<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>img</string>
		<key>fileName</key>
		<string>a</string>
		<key>word</key>
		<string>A</string>
	</dict>
	<dict>
		<key>type</key>
		<string>img</string>
		<key>fileName</key>
		<string>b</string>
		<key>word</key>
		<string>B</string>
	</dict>
	<dict>
		<key>type</key>
		<string>img</string>
		<key>fileName</key>
		<string>c</string>
		<key>word</key>
		<string>C</string>
	</dict>
	<dict>
		<key>type</key>
		<string>img</string>
		<key>fileName</key>
		<string>d</string>
		<key>word</key>
		<string>D</string>
	</dict>
	<dict>
		<key>type</key>
		<string>img</string>
		<key>fileName</key>
		<string>e</string>
		<key>word</key>
		<string>E</string>
	</dict>
	<dict>
		<key>type</key>
		<string>img</string>
		<key>fileName</key>
		<string>f</string>
		<key>word</key>
		<string>F</string>
	</dict>
	<dict>
		<key>type</key>
		<string>img</string>
		<key>fileName</key>
		<string>g</string>
		<key>word</key>
		<string>G</string>
	</dict>
	<dict>
		<key>type</key>
		<string>img</string>
		<key>fileName</key>
		<string>h</string>
		<key>word</key>
		<string>H</string>
	</dict>
	<dict>
		<key>type</key>
		<string>img</string>
		<key>fileName</key>
		<string>i</string>
		<key>word</key>
		<string>I</string>
	</dict>
	<dict>
		<key>type</key>
		<string>vid</string>
		<key>fileName</key>
		<string>j</string>
		<key>word</key>
		<string>J</string>
	</dict>
	<dict>
		<key>type</key>
		<string>vid</string>
		<key>fileName</key>
		<string>k</string>
		<key>word</key>
		<string>K</string>
	</dict>
</array>
</plist>
