<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>1</string>
		<key>name</key>
		<string>Abecedario</string>
		<key>image</key>
		<string>Abecedario</string>
		<key>review</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<string>2</string>
		<key>name</key>
		<string>Cuerpo</string>
		<key>image</key>
		<string>Cuerpo</string>
		<key>review</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<string>3</string>
		<key>name</key>
		<string>Preguntas</string>
		<key>image</key>
		<string>Preguntas</string>
		<key>review</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<string>4</string>
		<key>name</key>
		<string>Verbos Comunes I</string>
		<key>image</key>
		<string>VerbosComunes</string>
		<key>review</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<string>5</string>
		<key>name</key>
		<string>Verbos Comunes II</string>
		<key>image</key>
		<string>VerbosComunes</string>
		<key>review</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<string>6</string>
		<key>name</key>
		<string>Familia I</string>
		<key>image</key>
		<string>Familia</string>
		<key>review</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<string>7</string>
		<key>name</key>
		<string>Familia II</string>
		<key>image</key>
		<string>Familia</string>
		<key>review</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<string>8</string>
		<key>name</key>
		<string>Familia III</string>
		<key>image</key>
		<string>Familia</string>
		<key>review</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<string>9</string>
		<key>name</key>
		<string>Familia IV</string>
		<key>image</key>
		<string>Familia</string>
		<key>review</key>
		<false/>
	</dict>
</array>
</plist>
