<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Divorciado</string>
            <key>word</key>
            <string>Divorciado</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Esposa</string>
            <key>word</key>
            <string>Esposa</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Esposo</string>
            <key>word</key>
            <string>Esposo</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Hermana</string>
            <key>word</key>
            <string>Hermana</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Hermano</string>
            <key>word</key>
            <string>Hermano</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Hija</string>
            <key>word</key>
            <string>Hija</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Hijastra</string>
            <key>word</key>
            <string>Hijastra</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Hijastro</string>
            <key>word</key>
            <string>Hijastro</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Hijo</string>
            <key>word</key>
            <string>Hijo</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Hombre</string>
            <key>word</key>
            <string>Hombre</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Huerfano</string>
            <key>word</key>
            <string>Huerfano</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Madrastra</string>
            <key>word</key>
            <string>Madrastra</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Madrina</string>
            <key>word</key>
            <string>Madrina</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Mama</string>
            <key>word</key>
            <string>Mama</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Matrimonio</string>
            <key>word</key>
            <string>Matrimonio</string>
        </dict>
    </array>
</plist>
