<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Mediahermana</string>
            <key>word</key>
            <string>Mediahermana</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Mediohermano</string>
            <key>word</key>
            <string>Mediohermano</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Mujer</string>
            <key>word</key>
            <string>Mujer</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Nieta</string>
            <key>word</key>
            <string>Nieta</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Nieto</string>
            <key>word</key>
            <string>Nieto</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Nina</string>
            <key>word</key>
            <string>Nina</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Nino</string>
            <key>word</key>
            <string>Nino</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Novia</string>
            <key>word</key>
            <string>Novia</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Novio</string>
            <key>word</key>
            <string>Novio</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Nuera</string>
            <key>word</key>
            <string>Nuera</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Oyente</string>
            <key>word</key>
            <string>Oyente</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Padrastro</string>
            <key>word</key>
            <string>Padrastro</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Padrino</string>
            <key>word</key>
            <string>Padrino</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Papa</string>
            <key>word</key>
            <string>Papa</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Pareja</string>
            <key>word</key>
            <string>Pareja</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Persona</string>
            <key>word</key>
            <string>Persona</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Prima</string>
            <key>word</key>
            <string>Prima</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Primo</string>
            <key>word</key>
            <string>Primo</string>
        </dict>
    </array>
</plist>
