<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Abuela</string>
            <key>word</key>
            <string>Abuela</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Abuelo</string>
            <key>word</key>
            <string>Abuelo</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Adulto</string>
            <key>word</key>
            <string>Adulto</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Amante</string>
            <key>word</key>
            <string>Amante</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Amiga</string>
            <key>word</key>
            <string>Amiga</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Amigo</string>
            <key>word</key>
            <string>Amigo</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Anciano</string>
            <key>word</key>
            <string>Anciano</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Bebe</string>
            <key>word</key>
            <string>Bebe</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Bisabuela</string>
            <key>word</key>
            <string>Bisabuela</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Bisabuelo</string>
            <key>word</key>
            <string>Bisabuelo</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Bisnieta</string>
            <key>word</key>
            <string>Bisnieta</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Bisnieto</string>
            <key>word</key>
            <string>Bisnieto</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Ciego</string>
            <key>word</key>
            <string>Ciego</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Companero</string>
            <key>word</key>
            <string>Compañero</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Cunada</string>
            <key>word</key>
            <string>Cuñada</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Cunado</string>
            <key>word</key>
            <string>Cuñado</string>
        </dict>
    </array>
</plist>
