<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Senor</string>
            <key>word</key>
            <string>Senor</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Senora</string>
            <key>word</key>
            <string>Senora</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Senorita</string>
            <key>word</key>
            <string>Senorita</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Separado</string>
            <key>word</key>
            <string>Separado</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Sobrina</string>
            <key>word</key>
            <string>Sobrina</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Sobrino</string>
            <key>word</key>
            <string>Sobrino</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Soltero</string>
            <key>word</key>
            <string>Soltero</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Sordo</string>
            <key>word</key>
            <string>Sordo</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Suegra</string>
            <key>word</key>
            <string>Suegra</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Suegro</string>
            <key>word</key>
            <string>Suegro</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Tia</string>
            <key>word</key>
            <string>Tia</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Tio</string>
            <key>word</key>
            <string>Tio</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Unionlibre</string>
            <key>word</key>
            <string>Unionlibre</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Vecino</string>
            <key>word</key>
            <string>Vecino</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Viudo</string>
            <key>word</key>
            <string>Viudo</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Yerno</string>
            <key>word</key>
            <string>Yerno</string>
        </dict>
    </array>
</plist>
