<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Hablar</string>
            <key>word</key>
            <string>Hablar</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Hacer</string>
            <key>word</key>
            <string>Hacer</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Jugar</string>
            <key>word</key>
            <string>Jugar</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Limpiar</string>
            <key>word</key>
            <string>Limpiar</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Necesitar</string>
            <key>word</key>
            <string>Necesitar</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Olvidar</string>
            <key>word</key>
            <string>Olvidar</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Pagar</string>
            <key>word</key>
            <string>Pagar</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Pensar</string>
            <key>word</key>
            <string>Pensar</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Perder</string>
            <key>word</key>
            <string>Perder</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Platicar</string>
            <key>word</key>
            <string>Platicar</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Poder</string>
            <key>word</key>
            <string>Poder</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Preguntar</string>
            <key>word</key>
            <string>Preguntar</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Sentar</string>
            <key>word</key>
            <string>Sentar</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Terminar</string>
            <key>word</key>
            <string>Terminar</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Trabajar</string>
            <key>word</key>
            <string>Trabajar</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Vender</string>
            <key>word</key>
            <string>Vender</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Ver</string>
            <key>word</key>
            <string>Ver</string>
        </dict>
        <dict>
            <key>type</key>
            <string>vid</string>
            <key>fileName</key>
            <string>Vivir</string>
            <key>word</key>
            <string>Vivir</string>
        </dict>
   
</array>
</plist>
