<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>type</key>
        <string>vid</string>
        <key>fileName</key>
        <string>Aprender</string>
        <key>word</key>
        <string>Aprender</string>
    </dict>
    <dict>
        <key>type</key>
        <string>vid</string>
        <key>fileName</key>
        <string>Avisar</string>
        <key>word</key>
        <string>Avisar</string>
    </dict>
    <dict>
        <key>type</key>
        <string>vid</string>
        <key>fileName</key>
        <string>Ayudar</string>
        <key>word</key>
        <string>Ayudar</string>
    </dict>
    <dict>
        <key>type</key>
        <string>vid</string>
        <key>fileName</key>
        <string>Comer</string>
        <key>word</key>
        <string>Comer</string>
    </dict>
    <dict>
        <key>type</key>
        <string>vid</string>
        <key>fileName</key>
        <string>Comprar</string>
        <key>word</key>
        <string>Comprar</string>
    </dict>
    <dict>
        <key>type</key>
        <string>vid</string>
        <key>fileName</key>
        <string>Creer</string>
        <key>word</key>
        <string>Creer</string>
    </dict>
    <dict>
        <key>type</key>
        <string>vid</string>
        <key>fileName</key>
        <string>Cuidar</string>
        <key>word</key>
        <string>Cuidar</string>
    </dict>
    <dict>
        <key>type</key>
        <string>vid</string>
        <key>fileName</key>
        <string>Dar</string>
        <key>word</key>
        <string>Dar</string>
    </dict>
    <dict>
        <key>type</key>
        <string>vid</string>
        <key>fileName</key>
        <string>Decir</string>
        <key>word</key>
        <string>Decir</string>
    </dict>
    <dict>
        <key>type</key>
        <string>vid</string>
        <key>fileName</key>
        <string>Descansar</string>
        <key>word</key>
        <string>Descansar</string>
    </dict>
    <dict>
        <key>type</key>
        <string>vid</string>
        <key>fileName</key>
        <string>Dormir</string>
        <key>word</key>
        <string>Dormir</string>
    </dict>
    <dict>
        <key>type</key>
        <string>vid</string>
        <key>fileName</key>
        <string>Empezar</string>
        <key>word</key>
        <string>Empezar</string>
    </dict>
    <dict>
        <key>type</key>
        <string>vid</string>
        <key>fileName</key>
        <string>Ensenar</string>
        <key>word</key>
        <string>Enseñar</string>
    </dict>
    <dict>
        <key>type</key>
        <string>vid</string>
        <key>fileName</key>
        <string>Entender</string>
        <key>word</key>
        <string>Entender</string>
    </dict>
    <dict>
        <key>type</key>
        <string>vid</string>
        <key>fileName</key>
        <string>Escribir</string>
        <key>word</key>
        <string>Escribir</string>
    </dict>
    <dict>
        <key>type</key>
        <string>vid</string>
        <key>fileName</key>
        <string>Esperar</string>
        <key>word</key>
        <string>Esperar</string>
    </dict>
    <dict>
        <key>type</key>
        <string>vid</string>
        <key>fileName</key>
        <string>Estudiar</string>
        <key>word</key>
        <string>Estudiar</string>
    </dict>
    <dict>
        <key>type</key>
        <string>vid</string>
        <key>fileName</key>
        <string>Explicar</string>
        <key>word</key>
        <string>Explicar</string>
    </dict>
</array>
</plist>
